.DS_Store

UserInterfaceState.xcuserstate

*/build/
*.xcuserdatad
*.xcuserdata
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/.*

# Swift Package Manager
/.build/
DerivedData
.idea/
Pods/

# Logs
*.log